<div 
cdkDropList 
class="example-list" 
(cdkDropListDropped)="drop($event)">
    <div 
    class="example-box" 
    *ngFor= "let todo of todos; let i = index" cdkDrag>
        <mat-icon class="mr-3 mt-2">drag_indicator</mat-icon>
        <mat-checkbox
        [value]= 'i'
        (change)="onCheck($event)"
        [ngClass]="{'task-done': checkboxValue===i}"
        class="mat-body-2 mt-2">
        {{ todo.title }}
        </mat-checkbox>
        <div class="spacer"></div>
        <button mat-icon-button color="warn" (click)="deleteTodo(todo.id)")>
            <mat-icon>delete</mat-icon>
        </button>
    </div>
</div>